@model Battleship.Models.BoardViewModel

@{
    ViewData["Title"] = "Game Board";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <div class="grid" id="game-board">
        @if (Model != null && Model.MyShips.Any())
        {
            @foreach (var ship in Model.MyShips)
            {
                var length = ship.Type switch
                {
                    ShipType.CARRIER => 5,
                    ShipType.BATTLESHIP => 4,
                    ShipType.DESTROYER => 3,
                    ShipType.SUBMARINE => 3,
                    ShipType.PATROL_BOAT => 2,
                    _ => 0
                };

                var startColumn = ship.X;
                var endColumn = ship.Orientation == ShipOrientation.HORIZONTAL ? startColumn + length : startColumn + 1;
                var startRow = ship.Y;
                var endRow = ship.Orientation == ShipOrientation.VERTICAL ? startRow + length : startRow + 1;

                <div class="@(ship.IsSunk ? "bg-danger" : "bg-primary")"
                    style="grid-column: @(startColumn) / @(endColumn); grid-row: @(startRow) / @(endRow); margin: 0;">SHIP</div>
            }

            @foreach (var shot in Model.OpponentShots)
            {
                var startColumn = shot.X;
                var endColumn = startColumn + 1;
                var startRow = shot.Y;
                var endRow = startRow + 1;

                <div class="bg-warning"
                    style="grid-column: @(startColumn) / @(endColumn); grid-row: @(startRow) / @(endRow); margin: 0;">SHOT</div>
            }
        }
    </div>
    <div class="grid" id="game-board">
        @if (Model != null && Model.OpponentSunkShips.Any())
        {
            @foreach (var sunkShip in Model.OpponentSunkShips)
            {
                var length = sunkShip.Type switch
                {
                    ShipType.CARRIER => 5,
                    ShipType.BATTLESHIP => 4,
                    ShipType.DESTROYER => 3,
                    ShipType.SUBMARINE => 3,
                    ShipType.PATROL_BOAT => 2,
                    _ => 0
                };

                var startColumn = sunkShip.X;
                var endColumn = sunkShip.Orientation == ShipOrientation.HORIZONTAL ? startColumn + length : startColumn + 1;
                var startRow = sunkShip.Y;
                var endRow = sunkShip.Orientation == ShipOrientation.VERTICAL ? startRow + length : startRow + 1;

                <div class="@(sunkShip.IsSunk ? "bg-warning" : "bg-primary")"
                    style="grid-column: @(startColumn) / @(endColumn); grid-row: @(startRow) / @(endRow); margin: 0;">SUNK-SHIP
                </div>
            }
        }
    </div>
</div>

<style>
    #game-board {
        display: grid;
        grid-template-rows: repeat(10, 1fr);
        grid-template-columns: repeat(10, 1fr);
        aspect-ratio: 1 / 1;
        background-image: url(/img/board-grid.svg);
        background-size: cover;
    }

    #game-board div {
        border: 1px solid black;
    }
</style>