@using Battleship.Models;
@using Battleship.Controllers;
@using Microsoft.AspNetCore.Identity

@inject UserManager<User> UserManager

@model Battleship.Models.BoardViewModel

@{
    ViewData["Title"] = "Game Board";

    var loggedInUser = await UserManager.GetUserAsync(User);
    var isMyTurn = Model.Game.ActiveUserId == loggedInUser?.Id;
    var opponent = (Model.Game.User1Id == loggedInUser?.Id) ? Model.Game.User2.UserName : Model.Game.User1.UserName;

    var opponentSunkShips = Model.OpponentShips
        .Where(s => s.IsSunk)
        .ToList();
    var opponentVisibleShips = (Model.Game.State == GameState.END) ? Model.OpponentShips : opponentSunkShips;

    var mySunkShipsCount = Model.OpponentShots.Where(s => s.Outcome == ShotOutcome.SINK).Count();
    var myAliveShipsCount = Model.MyShips.Count() - mySunkShipsCount;
    var opponentAliveShipsCount = Model.MyShips.Count() - opponentSunkShips.Count();
}

@if (Model != null)
{
    <div class="min-vh-100 py-5 px-3">
        <h1 class="mb-4">
            @if (Model.Game.State == GameState.SETUP)
            {
                @($"{opponent} is placing ships...")
            }
            else if (Model.Game.State == GameState.END)
            {
                @(isMyTurn ? "You won!" : "You lost!")
            }
            else
            {
                var waitingMessages = new[] {
                    $"{opponent} is thinking...",
                    $"{opponent} is pondering...",
                    $"{opponent} is strategizing...",
                    $"{opponent} is deep in thought...",
                    $"{opponent} is taking their sweet time...",
                    $"{opponent} is making an educated guess...",
                    $"{opponent} is planning a Hail Mary...",
                    $"{opponent} is taking their shot...",
                    $"{opponent} is lost in the sauce...",
                    $"{opponent} is cooking up...",
                };
                var randomMessage = waitingMessages[Random.Shared.Next(waitingMessages.Length)];

                @(isMyTurn ? "Your turn" : randomMessage)
            }
        </h1>
        <div class="bg-light border rounded-1 p-4 mb-4">
            <p class="text-uppercase fw-bold mb-0">
                @(Model.Game.Name ?? "Untitled game")
            </p>
            <p class="mb-0">
                <span>Turn @Model.Game.TurnCount &bullet; Last move on @Model.Game.ModifiedAt?.ToString("d MMM yyyy 'at' HH:mm")</span>
            </p>
        </div>
        <div class="d-flex flex-column flex-md-row gap-4">
            <!-- My Fleet -->
            <div class="w-100">
                <h2 class="text-center fs-6 fw-bold mb-0">@loggedInUser?.UserName</h2>
                <p class="text-center mb-3">@myAliveShipsCount @(myAliveShipsCount == 1 ? "ship" : "ships") alive</p>
                <div class="rounded-1 p-0 w-100 position-relative" style="aspect-ratio: 1 / 1;">
                    <div class="board position-relative w-100 h-100">
                        @foreach (var ship in Model.MyShips)
                        {
                            var spriteUrl =
                                "/img/ship-" +
                                ship.Type.GetDisplayName().ToLower().Replace(" ", "-") +
                                (ship.Orientation == ShipOrientation.HORIZONTAL ? "-horizontal" : "-vertical") +
                                (ship.IsSunk ? "-sunk.svg" : ".svg");

                            <div class="rounded-1 position-relative"
                                style="background-image: url(@spriteUrl); background-size: cover; grid-column: @(ship.StartColumn) / @(ship.EndColumn); grid-row: @(ship.StartRow) / @(ship.EndRow);">
                            </div>
                        }

                        @{ int index = 0; }
                        @foreach (var shot in Model.OpponentShots)
                        {
                            var spriteUrl =
                                "/img/shot-" +
                                (shot.Outcome == ShotOutcome.MISS ? "miss-" : "hit-") +
                                Random.Shared.Next(1, 5) +
                                ".svg";
                            var isLastShot = isMyTurn && (index == Model.OpponentShots.Count() - 1);

                            <div class="position-relative"
                                style="background-image: url(@spriteUrl); @(isLastShot ? "animation: outline-appear 1s forwards;" : "") background-size: cover; grid-column: @(shot.X) / @(shot.X + 1); grid-row: @(shot.Y) / @(shot.Y + 1);">
                            </div>

                            index++;
                        }
                    </div>
                </div>
            </div>

            <!-- Enemy Fleet -->
            <div class="w-100" style="padding-bottom: 64px;">
                <h2 class="text-center fs-6 fw-bold mb-0">@opponent</h2>
                <p class="text-center mb-3">@opponentAliveShipsCount @(opponentAliveShipsCount == 1 ? "ship" : "ships") alive</p>
                <div class="rounded-1 p-0 position-relative w-100" style="aspect-ratio: 1 / 1;">
                    <form method="post" action="/Game/Shoot/@Model.Game.GameId" class="board position-relative w-100 h-100">
                        @foreach (var ship in opponentVisibleShips)
                        {
                            var spriteUrl =
                                "/img/ship-" +
                                ship.Type.GetDisplayName().ToLower().Replace(" ", "-") +
                                (ship.Orientation == ShipOrientation.HORIZONTAL ? "-horizontal" : "-vertical") +
                                (ship.IsSunk ? "-sunk.svg" : ".svg");

                            <div class="rounded-1 position-relative"
                                style="background-image: url(@spriteUrl); background-size: cover; grid-column: @(ship.StartColumn) / @(ship.EndColumn); grid-row: @(ship.StartRow) / @(ship.EndRow);">
                            </div>
                        }

                        @{ int index = 0; }
                        @foreach (var shot in Model.MyShots)
                        {
                            var spriteUrl =
                                "/img/shot-" +
                                (shot.Outcome == ShotOutcome.MISS ? "miss-" : "hit-") +
                                Random.Shared.Next(1, 5) +
                                ".svg";
                            var isLastShot = !isMyTurn && (index == Model.MyShots.Count() - 1);

                            <div class="position-relative"
                                style="background-image: url(@spriteUrl); @(isLastShot ? "animation: outline-appear 1s forwards;" : "") background-size: cover; grid-column: @(shot.X) / @(shot.X + 1); grid-row: @(shot.Y) / @(shot.Y + 1);">
                            </div>

                            index++;
                        }

                        @if (Model.Game.State == GameState.PLAY && isMyTurn)
                        {
                            @for (int y = 1; y <= 10; y++)
                            {
                                @for (int x = 1; x <= 10; x++)
                                {
                                    <input type="radio" name="SelectedShotPosition" value="@x,@y" required class="z-1 opacity-25"
                                        style="grid-column: @x / @(x + 1); grid-row: @y / @(y + 1);" />
                                }
                            }
                        }

                        @if (Model.Game.State == GameState.PLAY && isMyTurn)
                        {
                            <button type="submit" class="btn btn-primary btn-lg text-uppercase position-absolute top-100 start-50 translate-middle-x mt-4">Shoot!</button>
                        }
                    </form>
                </div>
            </div>
        </div>
    </div>

    @section Scripts {
        <script>
            const connection = new signalR.HubConnectionBuilder().withUrl("/SignalR/Game").build();
            connection.start();

            connection.on("GameUpdated", gameId => {
                if (gameId === "@Model.Game.GameId") {
                    location.reload();
                }
            });
        </script>
    }
}

<style>
    .board {
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: repeat(10, 1fr);
        background-image:
            linear-gradient(to right, #9dcee1 1px, transparent 1px),
            linear-gradient(to bottom, #9dcee1 1px, transparent 1px),
            url('/img/board-cell.svg');
        background-size: 10% 10%;
        border: 1px solid #9dcee1;
        border-width: 0 1px 1px 0;
        box-sizing: border-box;
    }

    @@keyframes outline-appear {
        0% {
            outline: 2px dashed rgba(255, 0, 0, 0);
            outline-offset: 50px;
        }
        100% {
            outline: 2px dashed rgba(255, 0, 0, 1);
            outline-offset: 4px;
        }
    }
</style>
